*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
.kotlin
app/build/
PLAN.md
/pixel-screen.png
/pixel-screen-fixed.png
/result-screen.png
/scam_screen.png
